body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box2 {
    display: inline-block;
    width: 200px;
    height: 100px;
    margin: 1em;
    background-color: white;
    border-color: green;
    border-style: solid;
}
p {
    text-align: center;
}
#box1 {
    background-color: white;
    width: 98%;
}
.box3 {
    flex-direction: column;
    display: flex;
    justify-content: center;
    height: 3em;
    width: 100%;
    border: 2px ;
    border-color: black;
    border-style: dashed;
}
#charmander {
    border: 4px;
    border-color: rgb(9, 255, 0);
    border-style: solid;
}
#plusle {
    border-color: rgb(6, 182, 0);
}
#alakazam {
    border-color: rgb(5, 141, 0);
}
#landorus {
    border-color: rgb(3, 102, 0);
}
#avalugg {
    border-color: rgb(2, 53, 0);
}
#mantyke {
    border-color: rgb(83, 0, 104);
}
#scaleo {
    border-color: rgb(118, 21, 143);
}
#exeggcute {
    border-color: rgb(134, 45, 156);
}
#meganium {
    border-color: rgb(142, 70, 160);
}
#spinda {
    border-color: rgb(149, 93, 165);
}
#kamovka32 {
    border-color: rgb(255, 103, 103);
}
#sokol {
    border-color: rgb(255, 78, 78);
}
#bell212 {
    border-color: rgb(255, 47, 47);
}
#apache {
    border-color: rgb(255, 22, 22);
}
#airbush125 {
    border: 4px;
    border-color: red;
    border-style: solid;
}